body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
/* Droppable cards css codes here */
.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}
/* Task card dragging css codes here */
#task-title-input {
  height: 35px;
  width: 100%;
  padding: 0 5px;
}
#datepicker {
  height: 35px;
  width: 100%;
}

.swim-lane {
  height: 100%;
}